body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: linear-gradient(120deg, #667eea, #764ba2);
    min-height: 100vh;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

h1 {
    text-align: center;
    color: #2d2d2d;
    margin-bottom: 6px;
}

.subtitle {
    text-align: center;
    font-size: 18px;   
    color: #555;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    font-weight: 600;

}



label {
    font-weight: 600;
    display: block;
    margin-top: 16px;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #667eea;
}

button {
    width: 100%;
    margin-top: 26px;
    padding: 12px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}

.result {
    margin-top: 25px;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.low {
    background: #ecfdf5;
    color: #065f46;
}

.medium {
    background: #fff7ed;
    color: #9a3412;
}

.high {
    background: #fee2e2;
    color: #991b1b;
}

.footer {
    margin-top: 28px;
    text-align: center;
    font-size: 12px;
    color: #999;
}
.chart-box {
    margin-top: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 25px;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
